.Listview {
    margin-bottom: 17px;
}

.thumnailImg {
    height: 60px;
    width: 60px;
    background-color: #222;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ListCard {
    padding: 17px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    flex-grow: 1;
    box-shadow: 0px 18px 88px -4px #18274b24;
    box-shadow: 0px 8px 28px -6px #18274b1f;
}

.newsBody {
    padding: 0 12px;
}

.newsTitle {
    font-weight: 700;
    font-size: 16px;
    color: #212121;
}

.newsDes {
    font-size: 16px;
    font-weight: 400;
    color: #212121;
}

.newsTime {
    font-size: 13px;
    color: #b9b9b9;
}

.delete {
    padding: 0 20px;
}

.removeIco {
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 24px -4px #18274b14;
    box-shadow: 0px 6px 12px -6px #18274b1f;
}

.removeIco span {
    font-size: 22px;
    color: #ff9090;
}
