.title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.button {
    margin: 15px 16px;
    box-shadow: 0px 18px 88px -4px #18274b24 inset;
    box-shadow: 0px 8px 28px -6px #18274b1f inset;
}

.button button {
    background-color: #a3ffd3;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    padding: 18px 15px;
    font-weight: 700;
}
