.avater {
    height: 50px;
    width: 50px;
    background-color: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.avaterInfo {
    padding: 2px 15px;
}

.avaterLine {
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #212121;
}

.avaterName {
    font-size: 18px;
    font-weight: bold;
    font-family: "Sawarabi Gothic", sans-serif;
}
