.title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.toggleIco {
    display: flex;
    margin: 15px 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}

.toggleIco > button {
    width: 50%;
}

.IcoAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    box-shadow: 0px 18px 88px -4px #18274b24 inset;
    box-shadow: 0px 8px 28px -6px #18274b1f inset;
    background-color: #ebf2f7;
}

.IcoAlign.active {
    background-color: #a3ffd3 !important;
}

.IcoAlign span {
    font-size: 35px;
}
