.title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.toggleIco {
    display: flex;
    margin: 15px 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}

.toggleIco > button {
    width: 50%;
}
